<div class="well hoverwell thumbnail">
    <h2>{{event?.name}}</h2>
       <p>Date: {{event?.date}}</p>
            <p>Time: {{event?.time}}</p>
            <p>Cost: ${{event?.price}}</p>
            <p *ngIf="event?.location">
            Location: {{event?.location.address}}
            
            <span class="pad-left">{{event?.location?.city}}, {{event?.location?.country}}</span>
            </p>

            <p *ngIf="event?.onlineUrl">
                Online Url: {{event?.onlineUrl}}
                </p>

        

</div>